<section class="hero">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="brand text-center">Camper!</h1>
          <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
            <div class="form-group">
              <label for="email" class="text-light">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required (ngModel)="email" name="email">
            </div>
            <small class="text-light">We'll send your password to this address</small>
            <button type="submit" class="btn btn-primary btn-round btn-block">Reset Password</button>
          </form>
          <br>
          <div *ngIf="this.success" class="alert alert-info alert-dismissible fade show" [innerHtml]="success"></div>
          <div *ngIf="this.error" class="alert alert-warning alert-dismissible fade show" [innerHtml]="error"></div>
        </div>
      </div>
    </div>
  </div>
</section>
