<section class="hero fadein">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="caperBrand">camper!</h1>
          <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
            <div class="form-group">
              <label for="email" class="text-light">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required (ngModel)="email" name="email">
            </div>
            <div class="form-group">
              <label for="password" class="text-light">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" minlength="8" required (ngModel)="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-round btn-block">Login</button>
          </form>
          <br>
          <div *ngIf="this.error" class="alert alert-warning alert-dismissible fade show" [innerHtml]="error"></div>
            <div *ngIf="this.confirm" class="alert alert-info alert-dismissible fade show" [innerHtml]="confirm">
          </div>
          <hr>
          <div class="text-center">
            <span class="register"><a routerLink="/register">Register</a></span>
            <span class="reset"><a routerLink="/reset">Forgot password</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
