/*custom font*/
@font-face {
  font-family: 'themify';
  src:url('../../assets/css/fonts/themify.eot');
  src:url('../../assets/css/fonts/themify.eot?#iefix') format('embedded-opentype'),
  url('../../assets/css/fonts/themify.woff') format('woff'),
  url('../../assets/css/fonts/themify.ttf') format('truetype'),
  url('fonts/themify.svg') format('svg');
}
.mainNav {
  margin : 100px !important;
}
.brand{
  color: #dc3545;
}
