<section class="hero">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="brand text-center">Camper!</h1>
          <h4 class="text-center text-light">Looks like you're not logged in. You need to log in to add campgrounds.</h4>
          <div class="button">
            <button routerLink="/login" class="btn btn-primary btn-round btn-block">Go to Login Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
