<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div *ngFor="let camp of camps" class="campsContainer col-md-4 col-sm-6 fadein">
      <div class="camps">
        <img src="{{camp.imageurl}}" class="img-fluid" routerLink="/campgrounds/{{camp.key}}" alt="campground image" height="auto" width="auto"/>
        <div class="info">
          <h5>{{camp.name}}</h5>
          <p>{{camp.description}}</p>
          <small>posted by {{camp.postedBy}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
