<app-navbar></app-navbar>
<div class="container">
  <div class="row profile-content">
    <div class="col-md-6 text-center">
      <h3>Logged in as:</h3>
      <img src="{{this.photourl}}" alt="profile avatar" class="img-circle">
      <h5 [innerHtml]="username"></h5>
      <p [innerHtml]="userEmail"></p>
      <button class="btn btn-sm  btn-round btn-danger my-2 my-sm-0" (click)="logout()">Log Out</button>
    </div>
    <div class="col-md-6">
      <h3>Hi, there!</h3>
      <p>I'm Kelvin, the creator of this project. I got the idea to make it when following a <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview" target="_blank">Web Developer bootcamp course on Udemy.</a>
        It's a <a href="https://yelpcamp-demo.herokuapp.com/campgrounds" target="_blank">Yelpcamp</a> clone made with Angular 5 and lots of <i class="fa fa-heart"></i>. I know its not much, but I had fun creating it, and learned a lot in the process.</p>
      <p>There's still some useful features that need to be added like:</p>
      <ul>
        <li>Allowing users to save campgrounds and access them here in their profile</li>
        <li>Accessing and uploading local files instead of using image urls</li>
        <li>...</li>
      </ul>
      <p> Like it? Have an idea of how I can improve it? Just want to say hi? Feel free to reach out any time.</p>
      <div class="text-center">
        <a href="https://twitter.com/kwang0nya" target="_blank"><i class="fab fa-twitter fa-2x fa-fw"></i></a>
        <a href="https://github.com/wang0nya" target="_blank"><i class="fab fa-github fa-2x fa-fw"></i></a>
        <a href="https://stackoverflow.com/users/9312256/kwangonya" target="_blank"><i class="fab fa-stack-overflow fa-2x fa-fw"></i></a>
        <a href="https://www.linkedin.com/in/kinyanjui-wangonya-711a68122/" target="_blank"><i class="fab fa-linkedin fa-2x fa-fw"></i></a>
        <a href="mailto:kwangonya@gmail.com" target="_blank"><i class="fas fa-at fa-2x fa-fw"></i></a>
      </div>
    </div>
  </div>
</div>
